body {
  font-family: serif;
  margin: 0px;
}

header {
  margin-inline: auto;
  height: 100%;
  max-width: 100%;
}
main {
  width: 600px;
  max-width: 100%;
  margin-inline: auto;
  height: 100%;
}

.logo {
  text-align: center;
}

.titoletto {
  text-align: center;
  color: green;
  font-size: x-small;
  background-color: lightgoldenrodyellow;
  padding-top: 10px;
  padding-bottom: 10px;

  border-width: 3px;
  border-style: solid;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;

  /* border-top: 2px solid rgb() bla bla potevo usare questo invece che modificare tutti i bordi come un citrullo*/

  border-color: rgb(240, 240, 112);
}

h1 {
  text-align: center;
  padding-top: 20px;
}

.focaccia {
  border-radius: 3%;
  max-width: 100%;
  box-shadow: 0px 6px 15px rgb(0 0 0 / 15%);
}

.separatore {
  border-width: 1px;
  border-style: solid;

  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;

  border-color: rgb(112, 201, 240);
  /*stessa cosa di sopra proprio furbo*/
}

.bordodiv {
  border-width: 2px;
  border-style: solid;
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;

  padding-left: 10px;

  border-color: yellow;
}

li {
  padding-top: 4px;
  padding-bottom: 4px;
}
